.change-employee-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}

.change-employee {
    width: 550px;
    height: auto;
    background-color: #a0cdf3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.change-header {
    width: 100%;
    display: flex;
}

.change-header h2 {
    padding-top: 10px;
    font-family: "Georiga", serif;
    margin: 0 auto 10px auto;
    color: #415463;
    position: relative;
}

.change-header > button {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #5e788f;
    position: absolute;
}

.change-header > button:hover {
    color: #415463;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

.change-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.human-image {
    margin-bottom: 10px;
}

.life {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.show-employee, .login-or-not {
    display: flex;
    margin-bottom: 10px;
}

.show-employee label, .login-or-not label {
    font-size: 16px;
}

#logged-in {
    display: none;
}

#logged-in input {
    width: 98%;
}

.change-button {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    background-color: #5e788f;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

.change-button:hover {
    background-color: #415463;
    animation-name: button-blue;
    animation-duration: 0.5s;
}