#cats {
    grid-row: 2;
    grid-column: 2;
}

#cats h2 {
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 23px;
    font-family: "Georgia", serif;
    color: #415463;
    text-align: center;
}

.cats {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 30px;
    background-color: white;
}

.cat {
    width: 100%;
    margin-bottom: 0;
    margin-right: 30px;
}

.cat:not(:last-child) {
    border-bottom: 1px solid #415463;
    margin-bottom: 20px;
}

.cat-img {
    width: auto;
    height: 100%;
    max-height: 200px;
    border: 1px solid #415463;
    margin-right: 20px;
    float: left;
}

.cat:not(:last-child) .cat-img {
    margin-bottom: 20px;
}

.cat-info-text {
    width: 75%;
}

.change-cat {
    margin-bottom: 10px;
    display: flex;
}

.change-cat button {
    text-decoration: none;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    color: #5e788f;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.change-cat button:hover {
    color: #415463;
    font-weight: bold;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

.change-cat button i {
    font-size: 15px;
}

.cat-information {
    font-family: "Calibri", sans-serif;
}

.cat-information h3 {
    font-family: "Georgia", serif;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 1px;
}

.cat-information p {
    margin-top: 4px;
}

.showcase {
    font-weight: bold;
    float: right;
}