#employees {
    grid-row: 2;
    grid-column: 2;
    display: none;
}

#employees h2 {
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 23px;
    font-family: "Georgia", serif;
    color: #415463;
    text-align: center;
}

.add-button-employee {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 35px;
    background-color: #5e788f;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

.add-button-employee:hover {
    background-color: #415463;
    animation-name: button-blue;
    animation-duration: 0.5s;
}


.employees {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
}

.employee {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 30px;
}

.employee:not(:last-child) {
    border-bottom: 1px solid #415463;
}

.employee-img {
    width: auto;
    height: 100%;
    max-height: 160px;
    border: 1px solid #415463;
    margin-right: 20px;
}

.employee:not(:last-child) .employee-img {
    margin-bottom: 20px;
}

.employee-info-text {
    width: 75%;
}

.change-employee {
    margin-bottom: 10px;
    display: flex;
}

.change-employee button {
    text-decoration: none;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    color: #5e788f;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.change-employee button:hover {
    color: #415463;
    font-weight: bold;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

.change-employee button i {
    font-size: 15px;
}

.employee-information {
    font-family: "Calibri", sans-serif;
}

.employee-information h3 {
    font-family: "Georgia", serif;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 1px;
    color: #415463;
}

.employee-information p {
    margin-top: 4px;
    color: #415463;
}

.employee-information p:not(:last-child) {
    margin-bottom: 5px;
}

.employee-information a {
    text-decoration: none;
    color: #5e788f;
}

.employee-information a:hover {
    color: #415463;
    font-weight: bold;
}

.employee-information .fas {
    font-size: 15px;
}

/* === TEXT FOR WHEN STUFF IS REMOVED === */
.removed-employee {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #415463;
    font-family: "Calibri", sans-serif;
}

.removed-employee p {
    margin-bottom: 0;
}