#news {
    grid-row: 2;
    grid-column: 2 / span 4;
    display: none;
}

#news h2 {
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 23px;
    font-family: "Georgia", serif;
    color: #415463;
    text-align: center;
}

.news {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 30px;
}

.new:not(:last-child) {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 30px;
}

.new:last-child {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    margin-right: 30px;
}

.new:not(:last-child) {
    border-bottom: 1px solid #415463;
}

.news-img {
    width: auto;
    height: 100%;
    max-height: 160px;
    border: 1px solid #415463;
    margin-right: 20px;
}

.new:not(:last-child) .news-img {
    margin-bottom: 20px;
}

.change-news {
    margin-bottom: 10px;
    display: flex;
}

.change-news button {
    text-decoration: none;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    color: #5e788f;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.change-news button:hover {
    color: #415463;
    font-weight: bold;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

.change-news button i {
    font-size: 15px;
}

.news-information {
    font-family: "Calibri", sans-serif;
}

.news-information h3 {
    font-family: "Georgia", serif;
    font-size: 25px;
    margin: 0;
    color: #415463;
}

.news-information p {
    color: #415463;
    font-family: "Calibri", sans-serif;
}