/* === MAIN BODY === */
.welcome {
    grid-row: 2;
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.welcome h2 {
    margin: 5px;
    font-family: "Georgia", serif;
    font-size: 30px;
    color: #415463;
}

.welcome p {
    margin: 0;
    font-family: "Calibri", sans-serif;
}
