/* === GENERAL DESIGN RULES === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}

/* === PRIMARY NAVIGATION === */
/* General style links for navigation */
.navbar {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: #739069;
    font-family: "Georgia", serif;
}

/* List-styles and some placing for navigation */
.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Changes padding on the first child (logo) */
.nav-list li:first-child {
    padding-right: 30px;
}

/* Changes padding on every other child except first (logo) */
.nav-list li:not(:first-child) {
    padding-right: 100px;
}

/* Style for navigation-links (not when hovering) */
.nav-list li a {
    text-decoration: none;
    color: #4d6744;
}

/* Hover over non-active navigation links */
.nav-list li a:hover:not(.active) {
    animation-name: navigation-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for navigation-links */
@keyframes navigation-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}

/* Style only for active navigation-link */
.active {
    color: #e9f5e5 !important;
}

/* "Control panel" for brand-logo */
.nav-list img {
    height: 90px;
    margin-top: -10px;
}

/* Changes vertical alignment on everything except logo */
.nav-list li:not(#logo) {
    margin-top: -34px;
}


/* === SECONDARY NAVIGATION === */
/* General style links for secondary navigation */
.second-navbar {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: #739069;
    font-family: "Georgia", serif;
}

/* List-styles and some placing for secondary navigation */
.second-nav-list {
    height: 30px;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Style for secondary navigation-links (not when hovering) */
.second-nav-list li a {
    text-decoration: none;
    color: #4d6744;
}

/* Hover over non-active navigation links */
.second-nav-list li a:hover:not(.active) {
    animation-name: navigation-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for navigation-links */
@keyframes navigation-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}

/* Style only for active navigation-link */
.active {
    color: #e9f5e5 !important;
}

/* === HEADER === */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

/* Styling for heading in Header */
.header h1 {
    margin: 0;
    width: 100%;
    font-family: "Georiga", serif;
    color: #76292a;
    text-align: center;
    font-size: 260%;
}

/* Styling for the general text in Header */
.header p {
    color: #6a1111;
    font-family: "Calibri", sans-serif;
    margin: 0;
}

/* === THE WORKERS-PAGE STYLING === */
.red-background {
    margin-top: 30px;
    border-top: 50px solid #76292a;
    border-bottom: 50px solid #76292a;
    height: auto;
    background-color: #591c1c;
    color: #faf3f3;
}

.workers {
    display: grid;
    grid-template-rows: 20px 61px auto;
    grid-template-columns: 20% 60% 20%;
}

.workers h2 {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    font-family: "Georgia", serif;
}

.employee-cards {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.employee-card {
    display: flex;
    margin-bottom: 30px;
}

.employee-pic {
    height: 210px;
    width: 190px;
    overflow: hidden;
    border: 1px solid white;
}

.employee-pic img {
    height: 210px;
    width: auto;
}

.employee-info {
    width: 30%;
    margin-left: 15px;
    margin-right: 15px;
}

.employee-info h3 {
    font-family: "Georgia", serif;
    font-size: 28px;
    margin: 0;
}

.employee-info small {
    font-family: "Calibri", sans-serif;
    color: #f0dfdf;
}

.employee-info p {
    display: flex;
    font-family: "Calibri", sans-serif;
}

.tele {
    margin-bottom: 0;
}

.email {
    margin-top: 0;
}

.employee-info i {
    font-size: 15px;
    margin-right: 6px;
    margin-top: 5px;
}

/* === CONTACT US STYLING === */

/* === LINKS TO OUTSIDE "COMPANIES" === */
/* General styling */
.outsiders {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* All the sizing to images */
.svekatt {
    height: 150px;
}
.vilse {
    height: 30%;
}
.skk {
    height: 130px;
}
.sverak {
    height: 135px;
}

/* === FOOTER === */
/* General footer styling */
.first-footer {
    width: 100%;
    height: 150px;
    background-color: #739069;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 150px;
    justify-items: center;
    grid-column-gap: 10px;
    color: #e9f5e5;
}

/* Styles the heading for footer */
.first-footer h2 {
    font-size: 18px;
    font-family: "Georgia", serif;
    margin-bottom: 0;
}

/* Styles the general text in footer */
.first-footer p {
    font-family: "Calibri", sans-serif;
    margin-top: 5px;
    font-size: 16px;
}

/* All these 3 down there handles the different sections in footer */
.contact {
    grid-column: 2;
}
.social-media {
    grid-column: 3;
}
.explore {
    grid-column: 4;
    display: flex;
    flex-direction: column;
}

/* Handles the links in footer */
.first-footer a {
    text-decoration: none;
    color: #4d6744;
    font-size: 15px;
}

/* Hover over non-active footer-links */
.first-footer a:hover:not(.active) {
    animation-name: footer-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for footer-links */
@keyframes footer-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}

.first-footer i {
    font-size: 17px;
}

/* === THE SECOND FOOTER STYLING === */
.second-footer {
    font-family: "Calibri", sans-serif;
    height: 35px;
    background-color: #3f5737;
    color: #e9f5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-footer p {
    margin: 0;
    font-size: 15px;
}