/* === GENERAL DESIGN RULES === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
    position: relative;
}

body > section:nth-last-of-type(2) {
    margin-bottom: 0 !important;
}

/* Styling for subheadings */
.second-row-heading {
    font-family: "Calibri", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
}

/* Grid styling */
.general-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

/* RESPONSIVE for grid */
@media only screen and (max-width: 1180px) {
    .general-grid {
        grid-template-columns: 10% 80% 10%;
    }
}

/* Styling for close and open-buttons */
@keyframes close-open {
    from {color: #566e83;}
    to {color: #415463;}
}
/* For Safari */
@-webkit-keyframes close-open {
    from {color: #566e83;}
    to {color: #415463;}
}


/* === HEADER === */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 30px;
}

/* RESPONSIVE for header */
@media only screen and (max-width: 1180px) {
    .header {
        margin-right: 10%;
        margin-left: 10%;
    }
}

/* Styling for heading in Header */
.header h1 {
    margin: 0;
    width: 100%;
    font-family: "Georiga", serif;
    color: #415463;
    text-align: center;
    font-size: 260%;
}

/* Styling for the general text in Header */
.header p {
    color: #415463;
    font-family: "Calibri", sans-serif;
    margin: 0;
}


/* === PAGINATION STYLING === */
.prev-next {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 25px;
}

/* Previous page specific styling */
.previous-page {
    grid-column: 1;
    width: 100%;
    font-family: "Calibri", sans-serif;
}
.prev-arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.prev-arrow i {
    margin-right: 4px;
}

/* Next page specific styling */
.next-page {
    grid-column: 2;
    width: 100%;
    font-family: "Calibri", sans-serif;
}
.next-arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
    float: right !important;
}
.next-arrow i {
    margin-left: 4px;
}

/* Coloring of next/prev arrows */
/* Next/prev arrow on red background */
.next-arrow-red, .prev-arrow-red {
    color: #5e788f;
}
.next-arrow-red:hover, .prev-arrow-red:hover {
    color: white;
    animation-name: link-blue;
        -webkit-animation-name: link-blue; /* For Safari */
    animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s; /* For Safari */
}

/* Next/prev on white background */
.next-arrow-white, .prev-arrow-white {
    color: #5e788f;
}
.next-arrow-white:hover, .prev-arrow-white:hover {
    color: #415463;
    animation-name: link-blue;
        -webkit-animation-name: link-blue; /* For Safari */
    animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s; /* For Safari */
}


/* === DESIGN RULES: RED PAGES === */
.blue-background {
    margin-top: 30px;
    height: auto;
    background-color: #cce8ff;
    color: #415463;
    /* The border-design */
    border-top: 20px solid #cce8ff;
    border-bottom: 20px solid #cce8ff;
}

/* H2 headings styling */
.blue-background h2 {
    grid-column: 2;
    margin-top: 20px;
    font-family: "Georgia", serif;
    margin-bottom: 30px;
}

@media only screen and (max-width: 420px) {
    .blue-background h2 {
        font-size: 7vw;
        text-align: center;
    }
}

/* Grid positioning for "main"-content */
.blue-paragraph {
    grid-column: 2;
}

/* P styling */
.blue-background p {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: "Calibri", sans-serif;
}

@media only screen and (max-width: 498px) {
    .blue-background p {
        margin-bottom: 15px;
    }
}

/* Small text styling */
.blue-background small {
    font-style: italic;
}

/* List styling */
.blue-paragraph ul {
    margin: 0;
    font-family: "Calibri", sans-serif;
}
.blue-paragraph li {
    margin-top: 3px;
    color: #415463;
}

/* Animation for link */
@keyframes link-blue {
    from {color: #5e788f;}
    to {color: #415463;}
}
/* For Safari */
@-webkit-keyframes link-blue {
    from {color: #5e788f;}
    to {color: #415463;}
}

/* General button-style for white-background */
@keyframes button-blue {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}
/* For Safari */
@-webkit-keyframes button-blue {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}


/* Blue hide-show */
#blue-hide-show {
    position: relative;
    grid-column: 2;
    grid-row: 4;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cce8ff;
    border-top: 1px solid #415463;
}

#blue-hide-show button {
    background-color: transparent;
    border: none;
    color: #5e788f;
    font-family: "Georgia", serif;
    cursor: pointer;
}

#blue-hide-show button:hover {
    color: #415463;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

/* CAT DISPLAYING RULES, RED BACKGROUND */
/* First image */
.red-img-border {
    height: 300px;
    width: 250px;
    margin-right: 15px;
    overflow: hidden;
    border: 1px solid #415463;
}
.red-img-border img {
    width: 250px;
}

/* Small info style */
.small-info {
    grid-row: 2;
    font-family: "Calibri", sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.small-info small:not(:first-child) {
    margin-left: 4px;
}


/* === DESIGN RULES: WHITE PAGES === */
/* Styling to heading */
.white-background h2 {
    grid-column: 2;
    margin-bottom: 25px;
    color: #415463;
    font-family: "Georgia", serif;
    margin-top: 30px;
}

@media only screen and (max-width: 420px) {
    .white-background h2 {
        font-size: 7vw;
        text-align: center;
    }
}

/* Styling for "main"-content */
.white-paragraph {
    grid-column: 2;
    color: #415463;
    font-family: "Calibri", sans-serif;
    width: 100%;
}

.white-paragraph p {
    margin: 0;
}

.white-paragraph hr {
    margin-bottom: 30px;
    margin-top: 0;
    border: 0.5px solid #f0dfdf;
    width: 100%;
}

/* General button-style for white-background */
@keyframes button-white {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}
/* For Safari */
@-webkit-keyframes button-white {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}

/* Animation for link in cat-card */
@keyframes link-white {
    from {color: #5e788f;}
    to {color: #415463;}
}
/* For Safari */
@-webkit-keyframes link-white {
    from {color: #5e788f;}
    to {color: #415463;}
}

/* === WHITE LIST/GENERAL LIST STYLING === */
/* Styling to list */
.white-background ol {
    list-style: none;
    margin-top: 0;
    padding: 0;
    counter-reset: custom-counter;
}
.white-background ol li {
    position: relative;
    margin-bottom: 40px;
    counter-increment: custom-counter;
}
.white-background ol li p {
    margin-top: 0;
}

/* Styling to the numbers in list */
.white-background ol li:before {
    content: counter(custom-counter);
    position: absolute;
    line-height: 25px;
    font-size: 350%;
    font-family: "Georgia", serif;
    margin-top: 5px;
}
.white-background ol li:nth-child(n+10):before {
    left: -32px;
}
.white-background ol li:nth-child(11):before {
    left: -22px;
}

.white-background ol li h5 {
    font-family: "Calibri", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
    padding-left: 60px;
}

.white-background ol li p {
    padding-left: 60px;
}

/* Adjusting the image */
.tips-img {
    height: 300px;
    width: 250px;
    overflow: hidden;
    float: right;
    margin-left: 15px;
    border: 1px solid #415463;
}
.tips-img img {
    height: auto;
    width: 250px;
}