/* === GENERAL DESIGN RULES === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}

/* Styling for subheadings */
.second-row-heading {
    font-family: "Calibri", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
}

/* Grid styling */
.general-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.double-sided-grid {
    display: grid;
    grid-template-rows: 20px 61px auto;
    grid-template-columns: 20% 40% 20% 20%;
}

/* === HEADER === */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

/* Styling for heading in Header */
.header h1 {
    margin: 0;
    width: 100%;
    font-family: "Georiga", serif;
    color: #76292a;
    text-align: center;
    font-size: 260%;
}

/* Styling for the general text in Header */
.header p {
    color: #6a1111;
    font-family: "Calibri", sans-serif;
    margin: 0;
}

/* === DESIGN RULES: RED PAGES === */
.red-background {
    margin-top: 30px;
    height: auto;
    background-color: #591c1c;
    color: #faf3f3;
    /* The border-design */
    border-top: 50px solid #76292a;
    border-bottom: 50px solid #76292a;
    /* The CSS grid on every red page */
    grid-template-rows: 20px 61px auto;
    grid-template-columns: ;
}

/* H2 headings styling */
.red-background h2 {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    font-family: "Georgia", serif;
}

/* Grid positioning for "main"-content */
.red-paragraph {
    grid-row: 3;
    grid-column: 2;
}

/* P styling */
.red-background p {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: "Calibri", sans-serif;
}

/* === DESIGN RULES: WHITE PAGES === */
/* Styling to heading */
.white-background h2 {
    grid-column: 2;
    color: #76292a;
    font-family: "Georgia", serif;
    margin-top: 30px;
    margin-bottom: 0;
}

/* Styling for "main"-content */
.white-paragraph {
    grid-column: 2;
    color: #76292a;
    font-family: "Calibri", sans-serif;
    width: 100%;
    margin-top: 13px;
}