/* === GENERAL DESIGN RULES === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}

/* === PRIMARY NAVIGATION === */
/* General style links for navigation */
.navbar {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: #739069;
    font-family: "Georgia", serif;
}

/* List-styles and some placing for navigation */
.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Changes padding on the first child (logo) */
.nav-list li:first-child {
    padding-right: 30px;
}

/* Changes padding on every other child except first (logo) */
.nav-list li:not(:first-child) {
    padding-right: 100px;
}

/* Style for navigation-links (not when hovering) */
.nav-list li a {
    text-decoration: none;
    color: #4d6744;
}

/* Hover over non-active navigation links */
.nav-list li a:hover:not(.active) {
    animation-name: navigation-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for navigation-links */
@keyframes navigation-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}

/* Style only for active navigation-link */
.active {
    color: #e9f5e5 !important;
}

/* "Control panel" for brand-logo */
.nav-list img {
    height: 90px;
    margin-top: -10px;
}

/* Changes vertical alignment on everything except logo */
.nav-list li:not(#logo) {
    margin-top: -34px;
}

/* === HEADER === */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    margin-right: 20%;
    margin-left: 20%;
}

/* Styling for heading in Header */
.header h1 {
    margin: 0;
    width: 100%;
    font-family: "Georiga", serif;
    color: #76292a;
    text-align: center;
    font-size: 260%;
}

/* Styling for the general text in Header */
.header p {
    color: #6a1111;
    font-family: "Calibri", sans-serif;
    margin: 0;
}

/* === CAROUSEL AT HOMEPAGE === */
.carousel-container {
    margin-top: 30px;
    height: 450px;
    padding-top: 3px;
    border-top: 50px solid #76292a;
    border-bottom: 50px solid #76292a;
    background-color: #591c1c;
    color: #faf3f3;
    display: grid;
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: 100%;
    grid-template-areas:
        "previous content content next";
}

.slide {
    grid-area: content;
    justify-self: center;
    align-self: center;
}

.image {
    float: left;
}

.image img {
    height: 450px;
    margin-right: 26px;
    border: 1px solid #feefef;
}

.carousel-text {
    display: grid;
    grid-template-rows: 55px 12px 347px 30px;
}

.carousel-text h3 {
    grid-row: 1;
    margin-top: 17px;
    font-family: "Georgia", serif;
    font-size: 33px;
}

.carousel-text h3 img {
    height: 27px;
}

.carousel-text small {
    grid-row: 2;
    font-family: "Calibri", sans-serif;
}

.carousel-text p {
    grid-row: 3;
    font-family: "Calibri", sans-serif;
    width: 300px;
}

.carousel-text a {
    grid-row: 4;
    font-family: "Georgia", serif;
    text-decoration: none;
    color: #ca8a8a;
}

/* Hover over link in carousel */
.carousel-text a:hover {
    animation-name: carousel-link-animation;
    animation-duration: 0.5s;
    color: #feefef;
}

/* Animation for link in carousel */
@keyframes carousel-link-animation {
    from {color: #e57e7e;}
    to {color: #feefef;}
}

.previous {
    grid-area: previous;
    align-self: center;
    justify-self: center;
    color: #feefef;
    cursor: pointer;
}

.previous img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 100px;
}

.next {
    grid-area: next;
    align-self: center;
    justify-self: center;
    color: #feefef;
    cursor: pointer;
}

.next img {
    height: 100px;
}

/* Fading animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

/* === GENERAL STYLING FOR NEWSFLOW === */
.newsflow {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: 30px;
}

.newsflow h3 {
    grid-column: 2;
    grid-row: 1;
    font-family: "Georiga", serif;
    color: #76292a;
    font-weight: bold;
    font-size: 33px;
}

.news {
    grid-column: 2;
    grid-row: 2;
    color: #76292a;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

.news-text {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 30px auto;
}

.news-text h4 {
    grid-row: 1;
    font-family: "Georiga", serif;
    font-size: 20px;
}

.news-text p {
    grid-row: 2;
    font-family: "Calibri", sans-serif;
    padding-right: 10px;
}

.news-image {
    grid-column: 2;
    grid-row: 1;
    height: 300px;
    background-color: #76292a;
    border: 1px solid #76292a;
}

/* === LINKS TO OUTSIDE "COMPANIES" === */
/* General styling */
.outsiders {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* All the sizing to images */
.svekatt {
    height: 150px;
}
.vilse {
    height: 30%;
}
.skk {
    height: 130px;
}
.sverak {
    height: 135px;
}

/* === FOOTER === */
/* General footer styling */
.footer {
    width: 100%;
    height: 150px;
    background-color: #739069;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 150px;
    justify-items: center;
    grid-column-gap: 10px;
    color: #e9f5e5;
}

/* Styles the heading for footer */
.footer h2 {
    font-size: 18px;
    font-family: "Georgia", serif;
    margin-bottom: 0;
}

/* Styles the general text in footer */
.footer p {
    font-family: "Calibri", sans-serif;
    margin-top: 5px;
    font-size: 16px;
}

/* All these 3 down there handles the different sections in footer */
.contact {
    grid-column: 2;
}
.social-media {
    grid-column: 3;
}
.explore {
    grid-column: 4;
    display: flex;
    flex-direction: column;
}

/* Handles the links in footer */
.explore a {
    text-decoration: none;
    color: #4d6744;
    font-size: 15px;
}

/* Hover over non-active footer-links */
.footer a:hover:not(.active) {
    animation-name: footer-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for footer-links */
@keyframes footer-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}