/* === GENERAL DESIGN RULES === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}

/* === PRIMARY NAVIGATION === */
/* General style links for navigation */
.navbar {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: #739069;
    font-family: "Georgia", serif;
}

/* List-styles and some placing for navigation */
.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Changes padding on the first child (logo) */
.nav-list li:first-child {
    padding-right: 30px;
}

/* Changes padding on every other child except first (logo) */
.nav-list li:not(:first-child) {
    padding-right: 100px;
}

/* Style for navigation-links (not when hovering) */
.nav-list li a {
    text-decoration: none;
    color: #4d6744;
}

/* Hover over non-active navigation links */
.nav-list li a:hover:not(.active) {
    animation-name: navigation-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for navigation-links */
@keyframes navigation-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}

/* Style only for active navigation-link */
.active {
    color: #e9f5e5 !important;
}

/* "Control panel" for brand-logo */
.nav-list img {
    height: 90px;
    margin-top: -10px;
}

/* Changes vertical alignment on everything except logo */
.nav-list li:not(#logo) {
    margin-top: -34px;
}


/* === SECONDARY NAVIGATION === */
/* General style links for secondary navigation */
.second-navbar {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: #739069;
    font-family: "Georgia", serif;
}

/* List-styles and some placing for secondary navigation */
.second-nav-list {
    height: 30px;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Style for secondary navigation-links (not when hovering) */
.second-nav-list li a {
    text-decoration: none;
    color: #4d6744;
}

/* Hover over non-active navigation links */
.second-nav-list li a:hover:not(.active) {
    animation-name: navigation-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for navigation-links */
@keyframes navigation-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}

/* Style only for active navigation-link */
.active {
    color: #e9f5e5 !important;
}

/* === HEADER === */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

/* Styling for heading in Header */
.header h1 {
    margin: 0;
    width: 100%;
    font-family: "Georiga", serif;
    color: #76292a;
    text-align: center;
    font-size: 260%;
}

/* Styling for the general text in Header */
.header p {
    color: #6a1111;
    font-family: "Calibri", sans-serif;
    margin: 0;
}

/* === HOW RED PARTS LOOK AT WEBPAGE === */
.red-background {
    margin-top: 30px;
    border-top: 50px solid #76292a;
    border-bottom: 50px solid #76292a;
    height: auto;
    background-color: #591c1c;
    color: #faf3f3;
}

.second-row-heading-red {
    text-transform: uppercase;
    margin: 0;
    font-family: "Calibri", sans-serif;
    font-size: 17px;
}

/* === HOW IS IT-STYLING === */
.how-is-it {
    display: grid;
    grid-template-rows: 20px 61px auto;
    grid-template-columns: 20% 60% 20%;
}

.how-is-it h2 {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    font-family: "Georgia", serif;
}

.how-is-it div {
    grid-row: 3;
    grid-column: 2;
}

.how-is-it p {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: "Calibri", sans-serif;
    color: #f0dfdf;
}

/* === HOW WHITE PARTS LOOK AT WEBPAGE === */
.white-background {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

/* Styling to heading */
.white-background h2 {
    grid-column: 2 / span 2;
    color: #76292a;
    font-family: "Georgia", serif;
    margin-top: 30px;
    margin-bottom: 0;
}

.white-background div {
    grid-column: 2;
    color: #76292a;
    font-family: "Calibri", sans-serif;
    width: 100%;
    margin-top: 13px;
}

/* Styling to list */
.white-background ol {
    list-style: none;
    padding: 0;
}
.white-background ol li {
    position: relative;
    margin-bottom: 40px;
}
.adjust-main-left {
    padding-left: 60px;
}

.white-background ol li p {
    margin-top: 0;
}

.second-row-heading {
    font-family: "Calibri", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
}

/* Styling to the numbers in list */
.left-num {
    position: absolute;
    line-height: 25px;
    font-size: 350%;
    font-family: "Georgia", serif;
    margin-top: 5px;
}

/* Tiny adjustments on the numbers that do not fit the standard */
.adjusting-num-down {
    margin-top: 18px;
}
.adjusting-num-left {
    margin-left: -20px;
}

/* Adjusting the image */
.right-img {
    height: 300px;
    float: right;
    margin-left: 15px;
    border: 1px solid #76292a;
}

/* === REPORT-FORM AND STUFF STYLING === */
.report {
    display: grid;
    grid-template-rows: 20px 61px auto;
    grid-template-columns: 20% 40% 20% 20%;
}

.report h2 {
    grid-row: 2;
    grid-column: 2 / span 2;
    margin: 0;
    font-family: "Georgia", serif;
}

.report form {
    grid-row: 3;
    grid-column: 2;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.report label {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

.report textarea, .report input:not(:last-child) {
    margin-bottom: 10px;
    background-color: #faf3f3;
    border: none;
    padding-left: 7px;
    font-family: "Calibri", sans-serif;
    font-size: 15px;
}

.report textarea {
    height: 200px;
}

.report input:not(:last-child) {
    height: 26px;
}

.submit-button {
    height: 40px;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #2d0707;
    color: #e9f5e5;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #4e1414;
    animation-name: submit-animation;
    animation-duration: 0.5s;
}

/* Animation for submit-button */
@keyframes submit-animation {
    from {background-color: #2d0707;}
    to {background-color: #4e1414;}
}

.another-info {
    grid-row: 1 / span 3;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    justify-content: center;
}

.another-info p {
    margin: 0;
    font-family: "Calibri", sans-serif;
    color: #f0dfdf;
}

.another-info small {
    font-family: "Calibri", sans-serif;
    color: #f0dfdf;
}

/* === LINKS TO OUTSIDE "COMPANIES" === */
/* General styling */
.outsiders {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* All the sizing to images */
.svekatt {
    height: 150px;
}
.vilse {
    height: 30%;
}
.skk {
    height: 130px;
}
.sverak {
    height: 135px;
}

/* === FOOTER === */
/* General footer styling */
.first-footer {
    width: 100%;
    height: 150px;
    background-color: #739069;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 150px;
    justify-items: center;
    grid-column-gap: 10px;
    color: #e9f5e5;
}

/* Styles the heading for footer */
.first-footer h2 {
    font-size: 18px;
    font-family: "Georgia", serif;
    margin-bottom: 0;
}

/* Styles the general text in footer */
.first-footer p {
    font-family: "Calibri", sans-serif;
    margin-top: 5px;
    font-size: 16px;
}

/* All these 3 down there handles the different sections in footer */
.contact {
    grid-column: 2;
}
.social-media {
    grid-column: 3;
}
.explore {
    grid-column: 4;
    display: flex;
    flex-direction: column;
}

/* Handles the links in footer */
.first-footer a {
    text-decoration: none;
    color: #4d6744;
    font-size: 15px;
}

/* Hover over non-active footer-links */
.first-footer a:hover:not(.active) {
    animation-name: footer-animation;
    animation-duration: 0.5s;
    color: #e9f5e5;
}

/* Animation for footer-links */
@keyframes footer-animation {
    from {color: #4d6744;}
    to {color: #e9f5e5;}
}

.first-footer i {
    font-size: 17px;
}

/* === THE SECOND FOOTER STYLING === */
.second-footer {
    font-family: "Calibri", sans-serif;
    height: 35px;
    background-color: #3f5737;
    color: #e9f5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-footer p {
    margin: 0;
    font-size: 15px;
}