.active-button-home {
    color: #415463;
    font-weight: bold;
}

#commando-home {
    display: none;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}

#commando-home h3 {
    font-family: "Calibri", sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin: 16px 0 0 0;
    color: #415463;
}

#commando-home p {
    font-family: "Calibri", sans-serif;
    font-size: 16px;
    margin-top: 0;
    color: #415463;
}

/* Display commando */
.display-home {
    display: block !important;
}