/* === THE WORKERS-PAGE STYLING === */
.employee-cards {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Separate card styling */
.employee-card {
    width: 450px;
    display: grid;
    grid-template-columns: 190px 1fr;
    margin-bottom: 30px;
}

/* Styling for picture in employee-card */
.employee-pic {
    grid-column: 1;
    height: 190px;
    width: 190px;
    overflow: hidden;
    border: 1px solid #415463;
    margin-right: 20px;
    float: left;
}
.employee-pic img {
    object-fit: cover;
    height: 190px;
    width: 190px;
}

/* Info-box styling */
.employee-info {
    grid-column: 2;
    width: 100%;
    margin-left: 15px;
}

/* Text styling for employee-card */
.employee-info h3 {
    font-family: "Georgia", serif;
    font-size: 28px;
    margin: 0;
}
.employee-info small {
    font-family: "Calibri", sans-serif;
    color: #415463;
}
.employee-info p {
    display: flex;
    font-family: "Calibri", sans-serif;
    color: #415463;
}

/* Styling that overrides general.css (p) */
.tele {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

/* Icon styling for employee-card */
.employee-info i {
    margin-right: 3px;
}
.tele i {
    margin-right: 6px;
}


/* === CONTACT US STYLING === */
.contact-us {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 10% 30%;
}
#contact form {
    grid-column: 1;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #415463;
    font-size: 17px;
}

/* Change areas except submit-button (input:last-child) */
#contact textarea, #contact input:not(:last-child) {
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #415463;
    padding-left: 7px;
    font-family: "Calibri", sans-serif;
    font-size: 15px;
}
#contact textarea {
    height: 200px;
}
#contact input:not(:last-child) {
    height: 26px;
}

/* The other side of this page styling */
.contact-info {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling for every section except last one */
.contact-info section:not(:last-child) {
    margin-bottom: 20px;
}

/* Text styling */
.contact-info h5 {
    color: #415463;
}
.contact-info p {
    margin: 0;
    font-family: "Calibri", sans-serif;
    color: #415463;
}
.contact-info small {
    font-family: "Calibri", sans-serif;
    color: #415463;
}

/* Icon styling */
.contact-info i {
    font-size: 15px;
}


/* === VOLONTEER PAGE STYLING === */
/* Styling for contact information */
.contact-become {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-become div:first-child {
    margin-right: 20px;
}

@media only screen and (max-width: 498px) {
    /* === RESPONSIVE CONTACT US === */
    .contact-us {
        grid-template-columns: 100%;
    }

    .contact-info {
        grid-column: 1;
        text-align: center;
    }

    /* === RESPONSIVE BECOME VOLONTEER === */
    .become {
        display: flex;
        flex-wrap: wrap-reverse;
    }


    .contact-become div:first-child p {
        margin-bottom: 15px;
    }

    .volonteer-img {
        margin: 20px auto 0 auto;
    }
}

@media only screen and (max-width: 420px) {
    .employee-card {
        grid-template-columns: 100%;
        margin-bottom: 0;
        width: 100%;
    }

    /* Styling for employee info */
    .employee-cards .employee-card:not(:last-child) .employee-info {
        margin-bottom: 10px;
    }

    .employee-info {
        grid-column: 1;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
    }
    .tele {
        margin-top: 5px !important;
        display: flex;
        justify-content: center;
    }
    .employee-info a {
        display: flex;
        justify-content: center;
    }

    /* Styling for picture in employee-card */
    .employee-pic {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .employee-pic img {
        max-height: none;
        height: 100%;
    }
}