/* Styling for H5 */
.how-text h5 {
    font-family: "Calibri", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
}

/* === REPORT-FORM AND STUFF STYLING === */
.report-info {
    display: grid;
    grid-template-columns: 1fr 10% 30%;
}

#report form {
    grid-column: 1;
    margin-top: -5px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#report label {
    margin-top: 5px;
}

/* Change areas except submit-button (input:last-child) */
#report textarea, .report input:not(:last-child) {
    margin-bottom: 10px;
    border: none;
    padding-left: 7px;
    font-family: "Calibri", sans-serif;
    font-size: 15px;
}
#report textarea {
    height: 200px;
}
#report input:not(:last-child) {
    height: 26px;
    padding-left: 7px;
    border: none;
}

/* The other side of this page styling */
.report-contact {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.report-contact p {
    margin: 0;
    font-family: "Calibri", sans-serif;
}
.report-contact i {
    font-size: 15px;
    margin-right: 3px;
}
.report-contact small {
    font-family: "Calibri", sans-serif;
}

/* === RESPONSIVE === */
@media only screen and (max-width: 571px) {
    .decor-img {
        display: none;
    }
}

@media only screen and (max-width: 517px) {
    .how-text {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 498px) {
    .report-info {
        grid-template-columns: 100%;
    }

    .report-contact {
        grid-column: 1;
        text-align: center;
    }
}

@media only screen and (max-width: 420px) {
    .white-background ol li:last-child {
        margin-bottom: 0;
    }
}