/* === MEMBER STYLING === */
.member-contact {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member-payment p:first-of-type {
    margin-bottom: 0;
}

.member-mail a {
    text-decoration: none;
    color: #7595b2;
}
.member-mail a:hover {
    color: #415463;
    animation-name: link;
    animation-duration: 0.5s;
}

/* === INSURANCE STYLING === */
.insurance {
    display: grid;
    grid-template-columns: 1fr 250px;
}
.insurance-text {
    grid-column: 1;
    margin-right: 15px;
}

.insurance-text i {
    font-size: 15px;
    margin-right: 3px;
}

.insurance a {
    text-decoration: none;
    color: #7595b2;
}

.insurance a:hover {
    color: #415463;
    animation-name: link;
    animation-duration: 0.5s;
}

#insurance-img {
    grid-column: 2;
    grid-row: 1;
}

/* === WISHING LIST STYLE === */
.needs {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
}

.cat-need {
    grid-column: 1;
}

.human-need {
    grid-column: 2;
}

/* === RESPONSIVE === */
@media only screen and (max-width: 600px) {
    .insurance {
        grid-template-columns: 100%;
    }

    .insurance-img {
        grid-column: 1;
        grid-row: 2;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 530px) {
    /* === WISHING LIST STYLE === */
    .needs {
        grid-template-columns: 100%;
        margin-bottom: 0;
    }

    .human-need {
        grid-column: 1;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 379px) {
    .insurance-text i:first-of-type {
        display: none;
    }
}