/* General CSS */
.add-cat-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}

.add-cat {
    width: 550px;
    height: 720px;
    background-color: #a0cdf3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

.add-header {
    width: 100%;
    display: flex;
}

.add-header h2 {
    padding-top: 10px;
    font-family: "Georiga", serif;
    margin: 0 auto 10px auto;
    color: #415463;
    position: relative;
}

.add-header > button {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #5e788f;
    position: absolute;
}

.add-header > button:hover {
    color: #415463;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

.add-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* CSS for file input */
.file-input label {
    font-family: "Calibri", sans-serif;
}

.choose-file {
    width: 550px;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cat-image {
    padding: 0;
    margin-bottom: 10px;
}

/* CSS for other input */
.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.info label {
    font-family: "Calibri", sans-serif;
}

.info input {
    height: 24px;
    padding-left: 6px;
}

.show-slide {
    display: flex;
    margin-bottom: 10px;
}

.show-slide label {
    font-size: 16px;
}

select {
    height: 28px;
    padding-left: 6px;
}

.add-button {
    width: 100%;
    height: 35px;
    background-color: #5e788f;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

.add-button:hover {
    background-color: #415463;
    animation-name: button-blue;
    animation-duration: 0.5s;
}