/* === LINKS TO OUTSIDE "COMPANIES" === */
/* General styling */
.outsiders {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    z-index: 20000;
}

/* All the sizing to images */
.svekatt {
    height: 150px;
}
.skk {
    height: 130px;
}
.sverak {
    height: 135px;
}


/* === FOOTER === */
/* General footer styling */
.first-footer {
    width: 100%;
    height: 150px;
    background-color: #591c1c;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 150px;
    justify-items: center;
    grid-column-gap: 10px;
    color: #fff;
    z-index: 20000;
}

/* Styles the heading for footer */
.first-footer h2 {
    font-size: 18px;
    font-family: "Calibri", sans-serif;
    margin-bottom: 0;
}

/* Styles the general text in footer */
.first-footer p {
    font-family: "Calibri", sans-serif;
    margin-top: 5px;
    font-size: 16px;
}

/* All these 3 down there handles the different sections in footer */
.contact {
    grid-column: 2;
}
.social-media {
    grid-column: 3;
}
.explore {
    grid-column: 4;
    display: flex;
    flex-direction: column;
}

/* Handles the links in footer */
.first-footer a {
    text-decoration: none;
    color: #ca8a8a;
    font-size: 15px;
}

/* Hover over non-active footer-links */
.first-footer a:hover:not(.active-foot) {
    animation-name: footer-animation;
    animation-duration: 0.5s;
    color: #fff;
}

/* Animation for footer-links */
@keyframes footer-animation {
    from {color: #ca8a8a;}
    to {color: #fff;}
}

.active-foot {
    color: #fff !important;
}

/* Styling for the icons */
.social-media i {
    font-size: 17px;
    margin-right: 6px;
}
.contact i {
    font-size: 13px;
    margin-right: 6px;
}


/* === THE SECOND FOOTER STYLING === */
.second-footer {
    font-family: "Calibri", sans-serif;
    height: 35px;
    background-color: #2d0707;
    color: #e9f5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20000;
}

.second-footer p {
    margin: 0;
    font-size: 15px;
}

@media screen and (max-width: 824px) {
    /* All the sizing to images */
    .svekatt {
        height: 130px;
    }
    .skk {
        height: 110px;
    }
    .sverak {
        height: 115px;
    }
}

@media screen and (max-width: 643px) {
    .first-footer {
        width: 100%;
        height: auto;
        justify-items: left;
        grid-template-columns: auto;
        grid-template-rows: 150px;
        grid-column-gap: 0;
        padding-bottom: 15px;
    }

    /* All these 3 down there handles the different sections in footer */
    .contact, .social-media, .explore {
        grid-column: 1;
        margin-left: 10%;
        margin-right: 10%;
    }
}