/* === LINKS TO OUTSIDE "COMPANIES" === */
/* General styling */
.outsiders {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    z-index: 20000;
}

/* All the sizing to images */
.svekatt {
    height: 150px;
}
.skk {
    height: 130px;
}
.sverak {
    height: 135px;
}


/* === FOOTER === */
/* General footer styling */
.first-footer {
    width: 100%;
    height: 170px;
    background-color: #a0cdf3;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 150px;
    justify-items: center;
    grid-column-gap: 10px;
    color: #415463;
    z-index: 20000;
    padding-bottom: 10px;
}

/* Styles the heading for footer */
.first-footer h2 {
    font-size: 18px;
    font-family: "Calibri", sans-serif;
    margin-bottom: 0;
}

/* Styles the general text in footer */
.first-footer p {
    font-family: "Calibri", sans-serif;
    margin-top: 5px;
    font-size: 16px;
}

/* All these 3 down there handles the different sections in footer */
.contact {
    grid-column: 2;
}
.social-media {
    grid-column: 3;
}
.explore {
    grid-column: 4;
    display: flex;
    flex-direction: column;
}

/* Handles the links in footer */
.footer-item {
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: #5e788f;
    font-size: 15px;
}

/* Social media links */
.social-media a {
    text-decoration: none;
    color: #5e788f;
}

/* Hover over non-active footer-links */
.footer-link:hover:not(.active-foot) {
    animation-name: link-blue;
    animation-duration: 0.5s;
    color: #415463;
}
.active-foot {
    color: #415463;
}

.social-media a:hover {
    animation-name: link-blue;
    animation-duration: 0.5s;
    color: #415463;
}

/* Styling for the icons */
.social-media i {
    font-size: 17px;
    margin-right: 6px;
}
.contact i {
    font-size: 13px;
    margin-right: 6px;
}

/* Styling for p on contact */
.contact-p {
    margin: 0;
}


/* === THE SECOND FOOTER STYLING === */
.second-footer {
    font-family: "Calibri", sans-serif;
    height: auto;
    background-color: #415463;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20000;
}

.second-footer p {
    margin: 10px 0 10px 0;
    font-size: 15px;
}

@media screen and (max-width: 824px) {
    .outsiders a:not(:first-child):not(:nth-child(2)) {
        margin-top: 15px;
    }

    /* All the sizing to images */
    .svekatt {
        height: 130px;
    }
    .skk {
        height: 110px;
    }
    .sverak {
        height: 115px;
    }
}

@media screen and (max-width: 500px) {
    .first-footer {
        width: 100%;
        height: auto;
        justify-items: left;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 150px;
        grid-column-gap: 0;
        padding-bottom: 15px;
    }

    /* All these 3 down there handles the different sections in footer */
    .contact, .social-media, .explore {
        grid-column: 2;
    }
}