/* === PRIMARY NAVIGATION === */
/* General style links for navigation */
.navbar {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    font-family: "Calibri", sans-serif;
    z-index: 2;
}

/* List-styles and some placing for navigation */
.responsive {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}

/* Some styling to logo in nav */
#logo {
    margin-left: 20px;
    background-color: white;
}

/* "Control panel" for brand-logo */
.responsive img {
    height: 100px;
    margin-top: -12px;
}

/* Styling for logo + menu-icon combo */
.divide-menu-elements {
    width: 100%;
}

.divide-menu-elements hr {
    margin-top: -37px;
    border: 4px solid #762a2a;
}

/* === THE POPUP NAVIGATION === */
.toggle-menu {
    position: absolute;
    margin-top: -120px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 50000;
}

/* The left side of navigation that makes stuff black */
#toning-down {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    z-index: 1;
}

#showing-up {
    display: grid;
    grid-template-rows: 86px 1fr;
    height: 100%;
    width: 500px;
    float: right;
    background-color: #591c1c;
    padding-bottom: 20px;
    z-index: 2;
}

.buttons-and-dividers {
    grid-row: 1;
}

.buttons-and-dividers hr {
    margin-top: 72px;
    border: 4px solid #fff;
}

.nav-list {
    grid-row: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: calc(100vh - 86px);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/* Positioning for content of list-item */
.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid positioning of every list-item */
.home {
    grid-row: 1;
}
.adopt {
    grid-row: 2;
}
.jour {
    grid-row: 3;
}
.about {
    grid-row: 4;
}
.support {
    grid-row: 5;
}

/* Style for navigation-links (not when hovering) */
.nav-list li a {
    text-decoration: none;
    color: #ca8a8a;
    font-weight: 400;
    font-family: "Calibri", sans-serif;
}
/* Hover over non-active navigation links */
.nav-list li a:hover:not(.active-nav) {
    font-weight: 900;
    color: #fff;
}
/* Style only for active navigation-link */
.active-nav {
    font-weight: 900 !important;
    color: #fff !important;
}

/* Styling for menu-icon */
.menu-icons {
    grid-row: 1;
    float: right;
    display: block;
    width: 50px;
    height: 76px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menu-icons i {
    font-size: 56px;
}

.menu-icons span {
    font-size: 20px;
    font-family: "Calibri", sans-serif;
}

/* Specific styles for opening menu icon */
#collapsing {
    margin-top: -10px;
    margin-right: 20px;
    color: #762a2a;
}

#collapsing:hover {
    color: #ca8a8a;
    animation-name: closed-nav-ani;
        -webkit-animation-name: closed-nav-ani; /* For Safari */
    animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s; /* For Safari */
}

@keyframes closed-nav-ani {
    from {color: #762a2a;}
    to {color: #ca8a8a;}
}
/* For Safari */
@-webkit-keyframes closed-nav-ani {
    from {color: #762a2a;}
    to {color: #ca8a8a;}
}

/* Specific styles for closing menu icon */
#close-menu {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 7px;
    color: #ca8a8a;
    float: left;
}

#close-menu i {
    margin-top: -3px;
    margin-left: 6px;
}

#close-menu:hover {
    color: #fff;
    animation-name: open-nav-ani;
        -webkit-animation-name: open-nav-ani; /* For Safari */
    animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s; /* For Safari */
}

@keyframes open-nav-ani {
    from {color: #ca8a8a;}
    to {color: #fff;}
}
/* For Safari */
@-webkit-keyframes open-nav-ani {
    from {color: #ca8a8a;}
    to {color: #fff;}
}


/* === STYLES FOR JS === */
.display {
    display: block !important;
}

/* === RESPONSIVENESS === */
@media only screen and (max-width: 517px) {
    #showing-up {
        height: 100vh;
        width: 100%;
    }

    #toning-down {
        display: none;
    }

    /* === STYLES FOR JS === */
    .bodyOverflow {
        overflow: hidden;
    }
}


