/* === PRIMARY NAVIGATION === */
/* General style links for navigation */
.navbar {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    font-family: "Calibri", sans-serif;
    z-index: 2;
}

/* List-styles and some placing for navigation */
.responsive {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}

/* Some styling to logo in nav */
#logo {
    margin-left: 20%;
    background-color: white;
}

/* "Control panel" for brand-logo */
.responsive img {
    height: 130px;
    margin-top: -12px;
}

/* Styling for logo + menu-icon combo */
.divide-menu-elements {
    width: 100%;
}

/* Styling for menu-icon */
.menu-icons {
    grid-row: 1;
    float: right;
    display: block;
    width: 70px;
    height: 90px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 2;
}
.menu-icons i {
    font-size: 70px;
}

.menu-icons span {
    font-size: 20px;
    font-family: "Calibri", sans-serif;
}

/* Specific styles for opening menu icon */
#collapsing {
    margin-right: 20%;
    color: #566e83;
}

#collapsing:hover {
    color: #415463;
    animation-name: close-open;
    -webkit-animation-name: close-open; /* For Safari */
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s; /* For Safari */
}

/* === THE POPUP NAVIGATION === */
.toggle-menu {
    position: absolute;
    margin-top: -200px;
    width: 100%;
    height: 0%;
    z-index: 50000;
}

.toggle-menu.display {
    height: 100%;
    margin-top: -120px;
}

.toggle-menu:not(.display) {
    transition: all ease 0s;
    transition-delay: 0.5s;
}

/* The left side of navigation that makes stuff black */
#toning-down {
    grid-column: 1;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    z-index: 1;
    position: absolute;
}

.navigation-grid {
    position: relative;
    height: 100%;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 500px;
    overflow: hidden;
}

#showing-up {
    grid-column: 2;
    display: grid;
    grid-template-rows: 86px 1fr;
    height: 100%;
    width: 500px;
    background-color: #a0cdf3;
    padding-bottom: 20px;
    z-index: 2;
    margin-left: 500px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.toggle-menu.display #showing-up {
    margin-left: 0px;
}

.buttons-and-dividers {
    grid-row: 1;
}

.nav-list {
    grid-row: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: calc(100vh - 86px);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Positioning for content of list-item */
.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid positioning of every list-item */
.home {
    grid-row: 1;
}
.adopt {
    grid-row: 2;
}
.cats {
    grid-row: 3;
}
.jour {
    grid-row: 4;
}
.about {
    grid-row: 5;
}
.support {
    grid-row: 6;
}

/* Style for navigation-links (not when hovering) */
.nav-list li a {
    text-decoration: none;
    color: #566e83;
    font-weight: 400;
    font-family: "Georiga", serif;
    font-size: 22px;
}
/* Hover over non-active navigation links */
.nav-list li a:hover:not(.active-nav) {
    font-weight: 900;
    color: #566e83;
}
/* Style only for active navigation-link */
.active-nav {
    font-weight: 900 !important;
    color: #566e83 !important;
}

/* Specific styles for closing menu icon */
#close-menu {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 7px;
    color: #566e83;
    float: left;
}

#close-menu i {
    margin-top: -3px;
}

#close-menu:hover {
    color: #415463;
    -webkit-animation-name: close-open; /* For Safari */
        animation-name: close-open;
    -webkit-animation-duration: 0.5s; /* For Safari */
        animation-duration: 0.5s;
}

/* === STYLES FOR JS === */
.display {
    display: block !important;
}

/* === RESPONSIVENESS === */
@media only screen and (max-width: 954px) {
    /* Some styling to logo in nav */
    #logo {
        margin-left: 10%;
    }

    /* Specific styles for opening menu icon */
    #collapsing {
        margin-right: 10%;
    }
}

@media only screen and (max-width: 517px) {
    .navigation-grid {
        grid-template-columns: 100%;
    }

    #showing-up {
        grid-column: 1;
        height: 100vh;
        width: 100%;
    }

    #toning-down {
        display: none;
    }

    /* === STYLES FOR JS === */
    .bodyOverflow {
        overflow: hidden;
    }
}


