/* === THE WORKERS-PAGE STYLING === */
.employee-cards {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Separate card styling */
.employee-card {
    width: 450px;
    display: grid;
    grid-template-columns: 190px 1fr;
    margin-bottom: 30px;
}

/* Styling for picture in employee-card */
.employee-pic {
    grid-column: 1;
    height: 200px;
    overflow: hidden;
    border: 1px solid white;
}
.employee-pic img {
    max-height: 100%;
    width: auto;
    vertical-align: top;
}

/* Info-box styling */
.employee-info {
    grid-column: 2;
    width: 100%;
    margin-left: 15px;
}

/* Text styling for employee-card */
.employee-info h3 {
    font-family: "Georgia", serif;
    font-size: 28px;
    margin: 0;
}
.employee-info small {
    font-family: "Calibri", sans-serif;
    color: #f0dfdf;
}
.employee-info p {
    display: flex;
    font-family: "Calibri", sans-serif;
    color: #f0dfdf;
}

/* Styling that overrides general.css (p) */
.tele {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

/* Icon styling for employee-card */
.employee-info i {
    font-size: 13px;
    margin-right: 6px;
    margin-top: 5px;
}


/* === CONTACT US STYLING === */
#contact form {
    grid-row: 3;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #76292a;
    font-size: 17px;
}

/* Change areas except submit-button (input:last-child) */
#contact textarea, #contact input:not(:last-child) {
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #762a2a;
    padding-left: 7px;
    font-family: "Calibri", sans-serif;
    font-size: 15px;
}
#contact textarea {
    height: 200px;
}
#contact input:not(:last-child) {
    height: 26px;
}

/* Submit button styling */
.submit-button {
    height: 40px;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #2d0707;
    color: #e9f5e5;
    border: none;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #4e1414;
    animation-name: submit-animation;
    animation-duration: 0.5s;
}
/* Animation for submit-button */
@keyframes submit-animation {
    from {background-color: #2d0707;}
    to {background-color: #4e1414;}
}

/* The other side of this page styling */
.contact-info {
    grid-row: 1 / span 3;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    justify-content: center;
}

/* Styling for every section except last one */
.contact-info section:not(:last-child) {
    margin-bottom: 30%;
}

/* Text styling */
.contact-info h5 {
    color: #76292a;
}
.contact-info p {
    margin: 0;
    font-family: "Calibri", sans-serif;
    color: #76292a;
}
.contact-info small {
    font-family: "Calibri", sans-serif;
    color: #76292a;
}

/* Icon styling */
.contact-info i {
    font-size: 15px;
}


/* === VOLONTEER PAGE STYLING === */
/* Image styling */
.volonteer-img {
    height: 300px;
    width: 250px;
    overflow: hidden;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid white;
    float: right;
}
.volonteer-img img {
    height: auto;
    width: 250px;
}

/* List styling */
.red-paragraph ul {
    margin: 0;
    font-family: "Calibri", sans-serif;
}
.red-paragraph li {
    margin-top: 3px;
    color: #f0dfdf;
}

/* Styling for contact information */
.contact-become {
    display: flex;
    justify-content: space-between;
}

/* Contact information link styling */
.contact-become div a {
    text-decoration: none;
    color: #ca8a8a;
    font-family: "Calibri", sans-serif;
}
.contact-become div a:hover {
    color: #faf3f3;
    animation-name: contact-animation;
    animation-duration: 0.5s;
}

/* Animation for contact-links */
@keyframes contact-animation {
    from {color: #ca8a8a;}
    to {color: #faf3f3;}
}