/* === OUR CATS STYLING === */
#cats {
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#cats.expanded {
    height: auto;
}

.cat {
    margin-bottom: 30px;
}

.cat-img {
    margin-right: 15px;
    height: 300px;
    width: 250px;
    overflow: hidden;
    float: left;
    border: 1px solid #762a2a;
}

.cat-img img {
    height: auto;
    width: 250px;
}

.cat-text {
    width: 100%;
}

.cat-text h3 {
    margin: 0;
    font-family: "Georgia", serif;
    font-size: 33px;
}

.cat-text h3 img {
    height: 27px;
}

.cat-text small {
    margin: 0;
}

.cat-text p {
    height: auto;
    margin-bottom: 10px;
}

.cat-text a {
    font-family: "Georgia", serif;
    text-decoration: none;
    color: #ca8a8a;
}

/* Hover over link in cat-card */
.cat-text a:hover {
    animation-name: cat-link;
    animation-duration: 0.5s;
    color: #762a2a;
}

/* Animation for link in cat-card */
@keyframes cat-link {
    from {color: #ca8a8a;}
    to {color: #762a2a;}
}

/* === ADVICE SECTION STYLING === */
#advice {
    margin-top: 0;
}

/* === PRICES SECTION STYLING === */
#prices {
    margin-bottom: 30px;
}

.prices {
    display: flex;
    justify-content: space-between;
}

.white-paragraph ul {
    margin: 0;
}

.white-paragraph ul li {
    margin-top: 3px;
}
