/* === ADVICE SECTION STYLING === */
#advice {
    margin-top: 0;
}

/* === PRICES SECTION STYLING === */
#prices {
    margin-bottom: 30px;
}

.prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-info ul {
    margin-bottom: 25px;
}