/* === GENERAL DESIGN RULES === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}

.banner img {
    display: none;
    background-color: #cce8ff;
    width: 100%;
    height: auto;
    margin-top: 25px;
    border-top: 1px solid #415463;
    border-bottom: 1px solid #415463;
    overflow: hidden;
}

/* === CAROUSEL STYLING === */
.carousel-container {
    padding-top: 3px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 100%;
    height: 370px;
}

/* General slide-styling */
.slide {
    grid-column: 2;
    grid-row: 1;
}

/* For a quite smart js hack*/
#carousel:hover {
    border-right-style: hidden;
}

.carousel-style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* CSS for the dots in carousel */
.dots {
    grid-column: 2;
    display: flex;
    justify-content: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: -5px 0 14px 14px;
    background-color: rgba(94, 120 , 143, 0.5);
    border-radius: 50%;
    display: inline-block;
}
.dot:hover {
    background-color: #5e788f;
    animation-name: dot;
    animation-duration: 0.5s;
}
@-webkit-keyframes dot {
    from {background-color: rgba(94, 120 , 143, 0.5);}
    to {background-color: #5e788f;}
}
@keyframes dot {
    from {background-color: rgba(94, 120 , 143, 0.5);}
    to {background-color: #5e788f;}
}
.active-dot {
    background-color: #5e788f;
}

/* Image styling for carousel */
.image-carousel {
    height: 350px;
    width: 250px;
    overflow: hidden;
    border: 1px solid #415463;
    margin-right: 20px;
}
.image-carousel img {
    object-fit: cover;
    height: 350px;
    width: 250px;
}

/* Styling for text in carousel */
.carousel-text {
    display: grid;
    grid-template-rows: 55px 45px auto 30px;
}
.carousel-text p {
    grid-row: 3;
    font-family: "Calibri", sans-serif;
    width: 300px;
}
.small-carousel-info {
    grid-row: 2;
    font-family: "Calibri", sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}
.small-carousel-info small:not(:first-child) {
    margin-left: 4px;
}

/* Carousel title styling */
.carousel-title {
    margin-top: 18px;
    display: flex;
}
.carousel-title h3 {
    margin: 0;
    grid-row: 1;
    font-family: "Georgia", serif;
    font-size: 33px;
}
.carousel-title img {
    height: 33px;
    margin-right: 7px;
}

/* Link styling */
.caro-read-more {
    grid-row: 4;
    font-family: "Georgia", serif;
    text-decoration: none;
    color: #5e788f;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
/* Hover over link in carousel */
.caro-read-more:hover {
    animation-name: link-blue;
    animation-duration: 0.5s;
    color: #415463;
}

/* Fading animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

/* Styling for previous/next */
.previous {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
.previous img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 60px;
}
.next {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
.next img {
    height: 60px;
}

/* === GENERAL STYLING FOR NEWSFLOW === */
.white-background h2 {
    margin-bottom: 30px !important;
}

#news-container {
    height: 400px;
    overflow: hidden;
}

#news-container.expanded {
    height: 100%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.news-card {
    overflow: auto;
    margin-bottom: 20px;
    position: relative;
    z-index: -20000;
}

.news-card:not(:last-of-type) {
    border-bottom: 1px solid rgba(65, 84, 99, 0.3);
    padding-bottom: 20px;
}

.news-card:last-of-type {
    margin-bottom: 10px;
}

/* Styling for the image */
.news-img {
    float: right;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #415463;
    margin-left: 10px;
}
.news-img img {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

/* Text styling */
.news-card p {
    margin-top: 0;
}

/* Styling for hide-show button */
#hide-show {
    grid-column: 2;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #415463;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
    position: relative;
}

#hide-show button {
    background-color: #fff;
    border: none;
    font-family: "Georgia", serif;
    color: #5e788f;
    cursor: pointer;
}

#hide-show button:hover {
    color: #415463;
    animation-name: link-white;
    animation-duration: 0.5s;
}

/* === GENERAL STYLING FOR REMEMBER === */
#remember-container {
    grid-row: 3;
    grid-column: 2;
    height: 550px;
    overflow: hidden;
}

#remember-container.expanded {
    height: 100%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

#remember h2 {
    grid-row: 2;
}

#remember p {
    grid-row: 3;
}

.remem-cat {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.remem-cat:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(65, 84, 99, 0.3);
}

/* General positioning of title */
.all-remem-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.remem-cat-title {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

/* Styling of title */
.remem-cat-title h3 {
    margin: 0;
    font-family: "Georgia", serif;
    font-size: 33px;
}
/* Paw-print icon */
.remem-cat-title img {
    height: 33px;
    margin-right: 5px;
}
/* The small titling */
.remem-cat h4 {
    margin: 0;
    font-size: 17px;
    font-weight: normal;
}
.circle-of-life, .circle-of-cathome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.circle-of-cathome {
    margin-bottom: 10px;
}
.push-title {
    margin-left: 5px !important;
}

/* The description and image */
.remem-cat-info {
    margin-top: 10px;
}
.remem-img {
    height: 310px;
    width: 260px;
    overflow: hidden;
    border: 1px solid #415463;
    margin-right: 20px;
    float: left;
}
.remem-img img {
    object-fit: cover;
    height: 310px;
    width: 260px;
}

/* Small text about cause of death */
.cause-of-death {
    font-style: italic !important;
}

.remem-pagination {
    margin-top: 8px;
}

@media only screen and (max-width: 794px) {
    .carousel-container {
        height: auto;
    }
}

@media only screen and (max-width: 733px) {
    .carousel-container {
        grid-template-columns: 10% 80% 10%;
        height: auto;
    }

    /* Image styling for carousel */
    .image-carousel {
        margin-right: 0;
        height: 300px;
        width: auto;
    }

    .carousel-text {
        grid-template-rows: 45px auto auto 30px;
        width: 98%;
    }

    .carousel-title {
        margin-top: 5px;
        justify-content: center;
    }

    .small-carousel-info {
        width: auto;
        margin-bottom: 5px;
        justify-content: center;
    }

    .carousel-text p {
        width: auto;
    }

    .previous img {
        height: 75px;
    }

    .next img {
        height: 75px;
    }
}

@media only screen and (max-width: 569px) {
    /* Image styling for carousel */
    .image-carousel {
        margin-right: 0;
        height: 250px;
    }

    .image-carousel img {
        height: 250px;
        width: auto;
    }

    .news-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .news-card h5 {
        text-align: center;
    }

    .news-img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 499px) {
    .img-info-remem {
        display: grid;
    }
    .remem-img {
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 420px) {
    .carousel-title h3 {
        font-size: 29px;
    }

    .carousel-title img {
        height: 29px;
    }

    /* Styling for the image */
    .news-img {
        margin-left: auto;
        margin-right: auto;
    }

    .news-info {
        margin-top: 5px;
    }
}