/* === GENERAL DESIGN RULES === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}


/* === CAROUSEL STYLING === */
.carousel-container {
    padding-top: 3px;
    display: grid;
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: 100%;
    grid-template-areas:
        "previous content content next";
}

/* General slide-styling */
.slide {
    grid-area: content;
    justify-self: center;
    align-self: center;
}

/* Image styling for carousel */
.image {
    float: left;
}
.image img {
    height: 450px;
    margin-right: 26px;
    border: 1px solid #feefef;
}

/* Styling for text in carousel */
.carousel-text {
    display: grid;
    grid-template-rows: 55px 25px 340px 30px;
}
.carousel-text h3 {
    grid-row: 1;
    margin-top: 17px;
    font-family: "Georgia", serif;
    font-size: 33px;
}
.carousel-text small {
    grid-row: 2;
    font-family: "Calibri", sans-serif;
}
.carousel-text p {
    grid-row: 3;
    font-family: "Calibri", sans-serif;
    width: 300px;
}

/* Link styling */
.carousel-text a {
    grid-row: 4;
    font-family: "Georgia", serif;
    text-decoration: none;
    color: #ca8a8a;
}
/* Hover over link in carousel */
.carousel-text a:hover {
    animation-name: carousel-link-animation;
    animation-duration: 0.5s;
    color: #feefef;
}

/* Animation for link in carousel */
@keyframes carousel-link-animation {
    from {color: #e57e7e;}
    to {color: #feefef;}
}

/* Styling for paw-img */
.carousel-text h3 img {
    height: 27px;
}

/* Styling for previous/next */
.previous {
    grid-area: previous;
    align-self: center;
    justify-self: center;
    color: #feefef;
    cursor: pointer;
}
.previous img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 100px;
}
.next {
    grid-area: next;
    align-self: center;
    justify-self: center;
    color: #feefef;
    cursor: pointer;
}
.next img {
    height: 100px;
}

/* Fading animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}


/* === GENERAL STYLING FOR NEWSFLOW === */
#news-container {
    height: 400px;
    overflow: hidden;
}

#news-container.expanded {
    height: auto;
}

.news-card {
    overflow: auto;
    margin-bottom: 30px;
    position: relative;
    z-index: -1;
}

/* Styling for the image */
.news-card {
    z-index: -20000;
}

.news-img {
    float: right;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #76292a;
    margin-left: 10px;
}
.news-img img {
    height: auto;
    width: 200px;
}

/* Text styling */
.news-card p {
    margin-top: 0;
}

.white-paragraph hr {
    margin-bottom: 20px;
    height: 1px;
    border: none;
    background-color: #f0dfdf;
}

#hide-show {
    grid-column: 2;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #762a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
    position: relative;
}

#hide-show button {
    background-color: #fff;
    border: none;
    font-family: "Georgia", serif;
    color: #ca8a8a;
    cursor: pointer;
}

#hide-show button:hover {
    color: #762a2a;
    animation-name: show-animation;
    animation-duration: 0.5s;
}

/* Animation for show more-button */
@keyframes show-animation {
    from {color: #ca8a8a;}
    to {color: #762a2a;}
}
