/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px auto;
    position: relative;
}

/* === BUTTON/LINK STYLE === */
/* General button-style for white-background */
@keyframes button-blue {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}
/* For Safari */
@-webkit-keyframes button-blue {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}

/* Animation for link */
@keyframes link-blue {
    from {color: #5e788f;}
    to {color: #415463;}
}
/* For Safari */
@-webkit-keyframes link-blue {
    from {color: #5e788f;}
    to {color: #415463;}
}
