/* === SPECIFIC CSS FOR EMPLOYEE === */
#employees {
    grid-row: 2;
    grid-column: 2;
    display: none;
    width: 100%;
}

#employees > .page-display {
    margin-top: 42px;
}

/* Displaying the employees in flow */
.employee {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 30px;
}

.employee:not(:last-child) {
    border-bottom: 1px solid rgba(65, 84, 99, 0.3);
}

.employee-img {
    height: 190px;
    width: 190px;
    border: 1px solid #415463;
    margin-right: 20px;
}

.employee-img img {
    object-fit: cover;
    height: 190px;
    width: 190px;
}

.employee:not(:last-child) .employee-img {
    margin-bottom: 20px;
}

.employee-text {
    width: inherit;
}

.employee-info-text {
    width: 75%;
}

.employee-information {
    font-family: "Calibri", sans-serif;
}

.employee-title {
    display: flex;
}

.employee-title h3 {
    font-family: "Georgia", serif;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 1px;
    color: #415463;
}

.employee-title i {
    margin-left: 20px;
    margin-top: 7px;
    color: #415463;
}

.employee-information p {
    margin-top: 4px;
    color: #415463;
}

.employee-information p:not(:last-child) {
    margin-bottom: 5px;
}

.employee-information a {
    text-decoration: none;
    color: #5e788f;
}

.employee-information a:hover {
    color: #415463;
    font-weight: bold;
}

.employee-information .fas {
    font-size: 15px;
    margin-right: 5px;
}

.showcase {
    font-family: "Calibri", sans-serif;
}

/* === TEXT FOR WHEN STUFF IS REMOVED === */
.removed-employee {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #415463;
    font-family: "Calibri", sans-serif;
}

.removed-employee p {
    margin-bottom: 0;
}