/* === GENERAL DISPLAYING CSS === */
.page-display {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 30px;
}

/* === TEXT CSS === */
.page-title {
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 23px;
    font-family: "Georgia", serif;
    color: #415463;
    text-align: center;
}

/* === BUTTONS CSS === */
/* Add button CSS */
.add-button {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 35px;
    background-color: #5e788f;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}
.page > button {
    margin-top: 20px;
}
.add-button:hover {
    background-color: #415463;
    animation-name: button-blue;
    animation-duration: 0.5s;
}

/* Two buttons beside each other */
.two-buttons-fix {
    margin-bottom: 10px;
    display: flex;
}
.two-buttons {
    text-decoration: none;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    color: #5e788f;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.two-buttons:hover {
    color: #415463;
    font-weight: bold;
    animation-name: link-blue;
    animation-duration: 0.5s;
}
.two-buttons i {
    font-size: 15px;
}


/* === SEARCH STYLING === */
.filter-search {
    margin-top: 25px;
}
/* The search part of page */
.search-field {
    width: 90%;
    z-index: 20000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    grid-row: 2;
}

.searches {
    display: flex;
    width: 70%;
    height: 35px;
}

/* Layout for search input/label */
.searches input {
    width: 100%;
    padding-left: 3px;
}
.searches label {
    width: 20px;
    padding-top: 5px;
    text-align: center;
    margin-right: 5px;
}

/* Styling for search button */
.search-button {
    width: 100px;
    font-size: 16px !important;
}

#catsearch, #search {
    margin-left: 5px;
}

/* Search label */
.searches label i {
    font-size: 23px;
    margin-top: 2px;
    color: #415463;
}

/* === STYLING FOR NOTHING IN SEARCH-TEXT */
.nothing-search {
    width: 100%;
    text-align: center;
}

/* === FILTER STYLING === */
.filter, .add-cat-button {
    width: 30%;
}