/* === OVERALL GENERAL CSS === */
/* Erases default 8px border */
body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px auto;
    position: relative;
}


/* === TEXT FOR WHEN STUFF IS REMOVED/ADDED === */
.removed, .added {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Calibri", sans-serif;
}

.removed p, .added p {
    margin: 0;
}

.removed {
    color: darkred;
}

.added {
    color: green;
}


/* === PAGINATION STYLING === */
.pagination {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 30%;
    height: 25px;
    margin-top: 7px;
}

/* Previous page specific styling */
.previous-page {
    grid-column: 2;
    width: 100%;
    font-family: "Calibri", sans-serif;
}
.prev-arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.prev-arrow i {
    margin-right: 4px;
}

/* Next page specific styling */
.next-page {
    grid-column: 3;
    width: 100%;
    font-family: "Calibri", sans-serif;
}
.next-arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
    float: right !important;
}
.next-arrow i {
    margin-left: 4px;
}

/* Coloring of next/prev arrows */
.next-arrow, .prev-arrow {
    color: #5e788f;
}
.next-arrow:hover, .prev-arrow:hover {
    color: #415463;
    font-weight: bold;
    animation-name: link-blue;
    -webkit-animation-name: link-blue; /* For Safari */
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s; /* For Safari */
}


/* === BUTTON/LINK STYLE === */
/* General button-css for white-background */
@keyframes button-blue {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}
/* For Safari */
@-webkit-keyframes button-blue {
    from {background-color: #5e788f;}
    to {background-color: #415463;}
}

/* Animation for link */
@keyframes link-blue {
    from {color: #5e788f;}
    to {color: #415463;}
}
/* For Safari */
@-webkit-keyframes link-blue {
    from {color: #5e788f;}
    to {color: #415463;}
}


/* === POPUP STYLING === */
/* CSS for main container */
.popup-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}

/* CSS for other container */
.small-container {
    width: 550px;
    height: auto;
    background-color: #a0cdf3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

/* General CSS for form */
.popup-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* CSS for header */
.header {
    width: 100%;
    display: flex;
}

.header h2 {
    padding-top: 10px;
    font-family: "Georiga", serif;
    margin: 0 auto 10px auto;
    color: #415463;
    position: relative;
}

.header > button {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #5e788f;
    position: absolute;
}

.header > button:hover {
    color: #415463;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

/* CSS for file input */
.file-input {
    display: flex;
    flex-direction: column;
}

.file-input label {
    font-family: "Calibri", sans-serif;
    margin-bottom: 3px;
}

.choose-file {
    width: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choose-file input, .file-input input {
    margin-bottom: 10px;
}

/* CSS for add-button */
.popup-button {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    background-color: #5e788f;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
}

.popup-button:hover {
    background-color: #415463;
    animation-name: button-blue;
    animation-duration: 0.5s;
}

/* CSS for normal input */
.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.info label {
    font-family: "Calibri", sans-serif;
}

.info input {
    height: 24px;
    padding-left: 6px;
}