#toned-down {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    margin-top: -20px;
    z-index: 1000000;
}

#cat-page {
    position: fixed;
    display: none;
    min-height: 400px;
    max-height: 100vh;
    overflow-y: auto;
    width: auto;
    margin-top: 100px;
    background-color: #a0cdf3;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000000;
}

.close-button {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button i {
    font-size: 30px;
    color: #5e788f;
}

.close-button i:hover {
    color: #415463;
    animation-name: close-open;
    animation-duration: 0.5s;
}

hr {
    border: 2px solid #415463;
    margin-top: 19px;
}

.cat-info {
    display: flex;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.cat-info-text {
    margin-left: 20px;
    width: 380px;
}

.cat-info-text img {
    height: 33px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
}

.cat-info-text h2 {
    color: #415463;
    font-size: 33px;
    font-family: "Georgia", serif;
    margin-top: 0;
    margin-bottom: 7px;
}

.cat-info-text small {
    color: #415463;
}

.cat-info-text p {
    margin-top: 7px;
    color: #415463;
    font-family: "Calibri", sans-serif;
}

.adopt-me {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Georgia", serif;
}

.adopt-me a {
    text-decoration: none;
    color: #5e788f;
}

.adopt-me a:hover {
    color: #415463;
    animation-name: link-blue;
    animation-duration: 0.5s;
}

.popup-slide {
    width: 300px;
    display: none;
    border: 1px solid #415463;
    border-bottom: none;
}

.demos {
    display: flex;
    width: 300px;
    height: 110px;
    overflow: hidden;
    border: 1px solid #415463;
}

.demo {
    width: 100px;
    cursor: pointer;
    border-right: 1px solid #415463;
}

/* Displaying the home to cat */
.home-popup {
    margin: 0 !important;
}

.cat-home i {
    color: #415463;
}

@media only screen and (max-width: 719px) {
    #cat-page {
        min-height: 0;
        width: 100%;
        left: 0;
        transform: none;
        margin-top: -20px;
    }

    .cat-info {
        flex-wrap: wrap-reverse;
    }

    .cat-info-text {
        margin-left: 0;
    }

    .img {
        margin-left: auto;
        margin-right: auto;
    }

    .popup-slide {
        width: 288px;
    }

    .demos {
        width: 288px;
    }
}

@media only screen and (max-width: 349px) {
    .popup-slide {
        width: 246px;
    }

    .demos {
        width: 246px;
    }

    .demo {
        width: 82px;
    }
}