/* === BACKGROUND === */
#toned-down {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

/* === MAIN POPUP-SQUARE === */
#cat-page {
    position: absolute;
    display: none;
    width: 700px;
    margin-top: 100px;
    background-color: #a0cdf3;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000000;
}

/* === CLOSE BUTTON === */
.close-button {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button i {
    font-size: 30px;
    color: #5e788f;
}

.close-button i:hover {
    color: #415463;
    animation-name: close-open;
    animation-duration: 0.5s;
}

#cat-page hr {
    border: 2px solid #415463;
    margin-top: 19px;
}

/* === DISPLAY CAT === */
.cat-info {
    width: 100%;
    position: relative;
    margin: 20px;
}

.cat-title img {
    height: 33px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
}

.cat-info h2 {
    color: #415463;
    font-size: 33px;
    font-family: "Georgia", serif;
    margin-top: 0;
    margin-bottom: 7px;
}

.cat-info small {
    color: #415463;
}

.cat-info p {
    margin-top: 7px;
    color: #415463;
    font-family: "Calibri", sans-serif;
    width: 90%;
}

/* Adopt me-link CSS */
.adopt-me {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Calibri", sans-serif;
    color: #415463;
}
.adopt-me p {
    margin-top: 0;
}

/* === IMAGE DISPLAY === */
.img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.popup-slide {
    width: 300px;
    display: none;
    border: 1px solid #415463;
    border-bottom: none;
}

.demos {
    display: flex;
    width: 300px;
    height: 110px;
    overflow: hidden;
    border: 1px solid #415463;
}

.demo {
    width: 100px;
    height: 110px;
    cursor: pointer;
    border-right: 1px solid #415463;
    object-fit: cover;
}

/* Displaying the home to cat */
.home-popup {
    margin: 0 !important;
}

.cat-home i {
    color: #415463;
}

/* === RESPONSIVENESS === */
@media only screen and (max-width: 719px) {
    /* The box */
    #cat-page {
        min-height: 0;
        width: 100%;
        left: 0;
        transform: none;
        margin-top: 0;
    }

    /* The box for IMG and TEXT */
    .cat-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    /* IMG and SLIDE */
    .popup-slide {
        width: 288px;
    }

    .img {
        margin-left: auto;
        margin-right: auto;
    }

    .demos {
        width: 288px;
    }

    .desc {
        margin-right: 30px;
        margin-left: 30px;
        width: auto !important;
    }

    .cat-home {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 349px) {
    .popup-slide {
        width: 246px;
    }

    .demos {
        width: 246px;
    }

    .demo {
        width: 82px;
    }
}